
{% extends 'base.html' %}

{% block content %}

{% block content_header %}
    <h3>{{file.file_name}}</h3>

  
{% endblock %}

<table class="table mb-0">
    <thead>
        <tr>
            <th>PREVIEW</th>
            <th>FILE NAME</th>
            <th>CATEGORY</th>
            <th>SEASON</th>
            <th>CREATED BY</th>
            <th>CREATED AT</th>
            <th>COMMENTS</th>
            <th>DOWNLOAD</th>
            <th>UPDATE</th>
            <th>DELETE</th>
            

        </tr>
    </thead>
    <tboday>
        {% for file in files %}
        <tr>
            <td>{% if file.preview %}
                    <img src="{{ file.preview.url }}" alt="{{ file.file_name }}" style="width:100px;">
                    
                {% else %} 
                    <span class="text-muted">NO PREVIEW</span>   
                {% endif %}
            </td>
            <td>{{file.file_name}}</td> 
            <td>{{file.category}}</td>
            <td>{{file.season}}</td>
            <td>{{file.created_by}}</td>
            <td>{{file.created_at}}</td>
            <td>{{file.comments}}</td>
            <td>
                <a href="{{file.pdf.url}}" class="btn btn-primary btn-sm" target="_blank"> DOWNLOAD
                </a>
            </td>
            <td>
                <a href="{% url 'class_file_update' file.pk %}" class="btn btn-primary btn-sm" target="_blank"> UPDATE
                </a>
            </td>
            <td>
                <form method="post" action="{% url 'delete_file' file.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<p>
    <a href="{% url 'file_upload' %}" class="btn btn-primary">UPLOAD A FILE</a>
</p>
{% endblock %}

