
{% extends 'base.html' %}

{% block title %}
ALL FILES
{% endblock %}

{% block content %}
<h1>ALL FILES</h1>

<p>
    <a href="{% url 'file_upload' %}" class="btn btn-primary">UPLOAD A FILE</a>
</p>

<table class="table mb-0">
    <thead>
        <tr>
            <th>PREVIEW</th>
            <th>FILE NAME</th>
            <th>CATEGORY</th>
            <th>SEASON</th>
            <th>CREATED BY</th>
            <th>DOWNLOAD</th>
        </tr>
    </thead>
    <tboday>
        {% for file in files %}
        <tr>
            <td>{% if file.preview %}
                    <img src="{{ file.preview.url }}" alt="{{ file.file_name }}" style="width:100px;">
                {% else %} 
                    <span class="text-muted">NO PREVIEW</span>   
                {% endif %}
            </td>
            <td>{{file.file_name}}</td>
            <td>{{file.category}}</td>
            <td>{{file.season}}</td>
            <td>{{file.created_by}}</td>
            <td>
                <a href="{{file.pdf.url}}" class="btn btn-primary btn-sm" target="_blank"> DOWNLOAD
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

