
{% extends 'base.html' %}   

  

{% block title %}
ALL FILES
{% endblock %}

{% block content %}


<header>
    <div class="container-fluid">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-stagrt">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-5 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary " style="color: grey; font-weight: bold; ;"></a></li>
          </ul>
          
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-5 justify-content-center mb-md-0">
            <label for="season">SEASON:</label>
            <form>
                 <select name="season_search">
                    <option value="empty">            </option>
                 {% for season in seasons %}
                 {% if season %}
                 <option value="{{season}}">{{season}}</option>
                 {% else %}
                 <p>NO SEASON AVAILABLE</p>
                 {% endif %}
                 {% empty %}
                 <p>NO SEASON AVAILABLE</p>
                 {% endfor %}
                 <input type="submit"  value="FILTER"></input>
                 </select>    
             </form>
            </ul>



            <ul class="nav col-12 col-lg-auto me-lg-auto mb-5 justify-content-center mb-md-0">
            <label for="category">CATEGORY:</label>
            <form>
                 <select name="category_search">
                    <option value="empty">            </option>
                 {% for category in categories %}
                 {% if category %}
                 <option value="{{category}}">{{category}}</option>
                 {% else %}
                 <p>NO CATEGORY AVAILABLE</p>
                 {% endif %}
                 {% empty %}
                 <p>NO CATEGORY AVAILABLE</p>
                 {% endfor %}
                 <input type="submit"  value="FILTER"></input>
                 </select>
                
             </form>
            </ul>


          <form>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <input type="text" name="file_name" placeholder="SEARCH"/>
                    <input type="submit" value="ENTER" style="color:white; background-color: grey;"><a href="{% url 'class_file_list' %}"></a>   
          </form>   

        </div>
        
      </div>
     
    </header>

{% block content_header %}

<h1>ALL FILES</h1>

   
{% endblock %}


<br>
<br>
<table class="table mb-0">
    <thead>
        <tr>
            <th>PREVIEW</th>
            <th>FILE NAME</th>
            <th>CATEGORY</th>
            <th>SEASON</th>
            <th>CREATED BY</th>
            <th>DOWNLOAD</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tboday>
        {% for file in files %}
        <tr>
            <td>{% if file.preview %}
                    <img src="{{ file.preview.url }}" alt="{{ file.file_name }}" style="width:100px;">
                    
                {% else %} 
                    <span class="text-muted">NO PREVIEW</span>   
                {% endif %}
            </td>
            <td>
                <a href="{% url 'class_file_detail' file.pk %}" style="color: black">{{file.file_name}}</a>
            </td> 
            <td>{{file.category}}</td>
            <td>{{file.season}}</td>
            <td>{{file.created_by}}</td>
            <td>
                <a href="{{file.pdf.url}}" class="btn btn-secondary btn-sm" target="_blank"> DOWNLOAD
                </a>
            </td>
            <td>
                <form method="post" action="{% url 'delete_file' file.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<p>
    <a href="{% url 'file_upload' %}" class="btn btn-secondary">UPLOAD A FILE</a>
</p>
{% endblock %}

