
{% extends 'base.html' %} 

{% block title %}
SketchDB Intro
{% endblock %}

{% block content %}
<div class="container-md">
<h3>INTRO </h3>
<hr>
<H3> WELCOME TO SKETCHDB!</H3>
<P> TO SEARCH FOR A SKETCH, NAVIGATE TO ALL FILES FROM THE LEFT HAND NAVIGATION BAR.USE SEARCH BAR AT THE TOP OF THE APPLICATION. TYPE IN THE PC5 YOU WOULD LIKE TO SEARCH AND HIT ENTER. EVERY SKETCH ASSIGNED TO THAT PC5 WILL BE SHOWN WITH TAGS FOR SEASON AND CATEGORY.</P>
<P>TO LEARN MORE ABOUT A SPECIFIC SKETCH, INCLUDING THE TIME CREATED, COMMENTS AND OTHER INFO, CLICK ON THE PC5 UNDER ALL SKETCHES. ONCE YOU LAND ON THE SKETCH DETAILS PAGE, YOU WILL HAVE THE ABILITY TO UPDATE YOUR FILE. </P>
<P>TO DOWNLOAD OR DELETE A FILE, NAVIGATE TO ALL FILES FROM THE LEFT HAND NAVIGATION BAR. HERE YOU CAN SEARCH FOR AN ADDITIONAL PARAMETER SUCH AS PC5, STYLE OR SEASON. ONCE YOU SEE THE FILE YOU WOULD LIKE TO DOWNLOAD OR DELETE, SIMPLY CLICK THE APPROPRIATE BUTTON. </P>
<P>
  TO SEE YOUR RECENT FILES, SIGN IN AND THEN CLICK ON YOUR NAME IN THE TOP LEFT HAND CORNER OF THE NAVIGATION BAR.</P>
<P>TO SEARCH BY SEASONAL OR CATEGORY, NAVIGATE OT ALL FILES FROM THE LEFT HAND NAVIGATION BAR. CLICK THE DROP DOWN MENU AND SELECT A SEASON OR CATEGORY. THIS WILL SHOW ALL SKETCHES THAT LIVE WITHIN THE SPECIFIED SEASON AND CATEGORY.</P>
<P>TO UPLOAD A FILE, CLICK  "UPLOAD A FILE "  ON THE LEFT HAND MENU. THIS WILL REDIRECT YOU TO THE UPLOAD PAGE. PLEASE MAKE SURE TO FILL OUT THE INFORMATION EXACTLY AS STATED ON THAT PAGE.</P>
<P>TO NAVIGATE BACK HOME, SELECT "HOME" ON THE LEFT HAND MENU, OR CLICK ON THE SKETCH DB LOGO IN THE TOP LEFT HAND CORNER.</P>
<P>TO LOG OUT, SELECT THE LOG OUT OPTION ON THE LEFT HAND NAVIGATION BAR.</P>

<h3></h3>


</P>
{% endblock %}


