
{% extends 'base.html' %} 

{% block title %}
SketchDB Intro
{% endblock %}

{% block content %}
<div class="container-md">
<h1>INTRO </h1>
<H3> WELCOME TO SKETCHDB!</H3>
<P> TO SEARCH FOR A SKETCH, USE SEARCH BAR AT THE TOP OF THE APPLICATION. TYPE IN THE PC5 YOU WOULD LIKE TO SEARCH AND HIT ENTER. EVERY SKETCH ASSIGNED TO THAT PC5 WILL BE SHOWN WITH TAGS FOR SEASON AND CATEGORY.</P>
<P>TO ADD SKETCHES TO YOUR LIBRARY, CLICK ON THE PC5 FILE NAME AND HIT "ADD TO LIBRARY" UNDER THE SKETCH INFORMATION. </P>
<P>
  TO NAVIGATE TO SKETCHES YOU HAVE ALREADY SAVED TO YOUR LIBRARY, SELECT "MY LIBRARY" ON THE LEFT HAND MENU.</P>
<P>TO SEARCH BY SEASONAL WORKSPACE, CLICK THE DROP DOWN ARROW ON THE LEFT HAND MENU AND SELECT A SEASON AND CATEGORY. THIS WILL SHOW ALL SKETCHES THAT LIVE WITHIN THE SPECIFIED SEASON AND CATEGORY.</P>
<P>TO UPLOAD A FILE, CLICK  "UPLOAD A FILE "  ON THE LEFT HAND MENU. THIS WILL REDIRECT YOU TO THE UPLOAD PAGE. PLEASE MAKE SURE TO FILL OUT THE INFORMATION EXACTLY AS STATED ON THAT PAGE.</P>
<P>TO NAVIGATE BACK HOME, SELECT "HOME" ON THE LEFT HAND MENU, OR CLICK ON THE LEVIS ICON.</P>
<P>TO SIGN OUT OR VIEW ACCOUNT, CLICK THE DROP DOWN ARROW BY YOUR PROFILE NAME.</P>
{% endblock %}


